*{ 
  margin: 0 ;
padding: 0;
box-sizing: border-box;
}
@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
font-family: "Anonymous Pro";
src: url(fonts/AnonymousPro-Regular.ttf);
}

body{
background-color:#F1F1F1;
font-family: "Anonymous Pro", sans-serif;
}


p {
font-family: "Anonymous Pro", sans-serif;
font-size: 14px;
}


li {
  display: inline-flex;
  align-items: center;
}

header{
  border-bottom: 1px solid #a1a6b4;
background-color: white;

}
.header-wrap{
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.head__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}



.container__text{
  color: black;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
}



.sneakers{
  display: flex;
  flex-wrap:wrap ;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
}
.logo {
  width: 212.34px;
  height: 63.24px;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
ul {
  display: flex;
  gap: 24px;
}
.sneaker {
  max-width: 370px;
  border-radius: 12px;
  background-color: white;
}
.footer{
  background-color: black;
  color: white;
}
.foot-nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}
.footline {
  width: 100%;
  height: 1px;
  background-color: rgba(230, 232, 236, 0.4);
}

.footer-text {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 18px 0 21px;
  color: #a1a6b4;
}
.sneaker_card {
  padding: 32px 24px;

}
h3 {
  width: 323px;
  color: black;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}
.subtitle {
  width: 767px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin: 24px 0;
}

